@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: #f4f5f6;
}

.sidebar {
  background: #039BE5;
  color: #fff;
  width: 200px;
  height: 100%;
  position: fixed;
  overflow: auto;
}

.logo {
  display: block;
  color: #fff;
  background-color: #039BE5;
  padding: 20px;
  text-decoration: none;
  margin-bottom: 30px;
}

.logo h3 {
  font-weight: 900;
}

.sidebar a {
  display: block;
  color: #fff;
  font-size: 16px !important;
  font-weight: 300;
  padding: 10px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.nav-icon {
  margin-right: 8px;
}

.sidebar a:hover:not(.active) {
  background-color: #222222;
  color: white;
}

.stat-icon {
  font-size: 22px;
}

div .content {
  margin-left: 200px;
  height: 1000px;
  background-color: #f4f5f6 !important;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.topBar {
  padding: 10px;
  background-color: #fff;
  /** box-shadow: 0px 0px 3px 2px #ccc; **/
}

.topBar input[type="text"] {
  background-color: #f4f5f6;
}

.main-content {
  margin-top: 50px;
  width: 80% !important;
}


.profile-menu {
  text-align: right;
  padding-right: 70px !important;
  margin-top: 15px;
}

.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid #efefef;
}

.card-success {
  background-color: #fff;
  border-bottom: #C5E1A5 4px solid;
}

.card h2 {
  font-size: 36px;
  font-weight: 200;
}

.card p {
  font-size: 16px;
}

.card-danger {
  background-color: #fff;
  border-bottom: #FFAB91 4px solid;
}

.card-info {
  background-color: #fff;
  border-bottom: #40C4FF 4px solid;
}

.login-container {
  margin-top: 15% !important;
  width: 400px !important;
  margin: 0 auto;
}

.login-container h3{
  text-align: center;
}

#sidebar-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}
